header {
    background: var(--primary);
    top: 0;
    width: 100%;
    padding: 1em 0;
    position: fixed;
    box-shadow: 5px 5px 10px rgb(155, 150, 150);
    border-radius: 0px 0px 10px 10px;
    height: 5%;
}
.contain { 
    margin: 0 auto;
    width: 90%;
}
.side-contain{
    /* border: 1px solid red; */
    width: 13%;
    height: 80%;
    border-radius: 15px;
    position: fixed;
    left: 1%;
    top: 15%;
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 5px 5px 10px rgb(155, 150, 150);
}

a {
    color: var(--white);
    text-decoration:none;
}
a.logo{
    font-size: 30px;
    font-weight: bold;
    text-shadow:  5px 2px 5px  rgb(0, 0, 0);
}
.side-contain li:hover {
    background: rgb(56, 0, 129);
    border-radius: 15px; 
}
.active{
    background: rgb(56, 0, 129);
    border-radius: 15px;
}
h1{
    margin-top: 2em;
}
li {
    list-style-type: none;
    padding: 1em;
}
.pro-icon{
    float: right;
}

li a{
    display: block;
    text-align: center;
}
.line{
    border: 1px solid;
    width: 90%;
    margin:0 auto;
} 

@media 
only screen and (max-width: 960px){
    .side-contain{
        width: 30%;
        font-size: 15px;
    }
}

