.container{
    padding-left: 20%;
}

.home-span{
    margin-top: 8%;
    padding-left: 20%;
}
button{
    cursor: pointer;
    background-color: #724caf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
button:hover{
    background-color: #220255;
}
@media 
only screen and (max-width: 960px){
    .container{
    padding-left: 40%;
    font-size: 16px;
    }
    .home-span{
        margin-top: 22%;
        padding-left: 40%; 
    }
}
@media 
only screen and (max-width: 480px){
        .home-span{
            margin-top: 30%;
            padding-left: 40%; 
        }
}
