<p class="home-span">
  Hello, Welcome!!
  </p>
  <div class="container">
      <hr/>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quasi sed ipsam placeat eligendi deleniti qui, vitae reiciendis at repellendus veritatis voluptatibus, nostrum soluta velit iste ut ullam nisi. Corporis.
      </p>
      <p *ngIf="status">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quae reprehenderit cupiditate doloribus quo nihil, soluta asperiores minus dolorem ducimus perspiciatis recusandae magnam veritatis? Harum culpa facere numquam blanditiis officiis.
      </p>
      <button (click)="myfunc()">
       {{toggle ? 'Read More +' : 'Read Less -'}}
      </button>
      <hr/>
  </div>